<ion-view view-title="REGISTER" hide-nav-bar="true">
  <ion-content class="pos_content">
  <img src="img/byte pos.png" class="pos_login_logo"/>
    <form ng-submit="login(user)" class="pos_login_form">
        <label class="item item-input item-stacked-label pos_lable">
         <input required ng-model="user.name" placeholder="username" />
        </label>
        <label class="item item-input item-stacked-label pos_lable">
         <input required ng-model="user.pwd" placeholder="password" type="password" />
        </label>
        <button type="submit" class="button button-positive button-full">
          REGISTER
        </button>
    </form>
  </ion-content>
  <div class="footer-btn bar bar-roayal" ng-click="goto('login');">
    <p style="width:100%" class="footer_a">
      BACK
    </p>
  <div>
</ion-view>